:host {
  display: block;

  h1 {
    font-size: 1.2em;
    margin: 5px 0;
  }
  h2 {
    font-size: 1.1em;
    margin: 5px 0;
  }
  h3 {
    font-size: 1em;
    margin: 5px 0;
  }
  table {
    font-size: 0.75em;

    tbody {
      td:not(:first-child) {
        text-align: right;
      }
    }
  }

  .node-anchor {
    border-radius: 3px;
    cursor: pointer;

    &.hovered {
      background-color: #a3ffa3;
    }
  }
}
