<mozaik-header></mozaik-header>
<mozaik-multiview [(ratios)]="ratios" #multiview>
  <mozaik-multiview-partition (visible)="navigatorVisible = $event">
    <mozaik-multiview-toggle
      [style.right.px]="0"
      (click)="
        openPartition(1, 'left');
        inspectorVisible = true;
        navigatorVisible = false
      "
      *ngIf="!inspectorVisible"
    >
      Inspector
    </mozaik-multiview-toggle>
    <mozaik-ds-select></mozaik-ds-select>
  </mozaik-multiview-partition>

  <mozaik-multiview-partition (visible)="inspectorVisible = $event">
    <mozaik-multiview-toggle
      [style.left.px]="0"
      (click)="
        openPartition(0, 'right');
        inspectorVisible = false;
        navigatorVisible = true
      "
      *ngIf="!navigatorVisible"
    >
      Navigator
    </mozaik-multiview-toggle>
    <mozaik-multiview-toggle
      [style.right.px]="0"
      (click)="openPartition(2, 'left', 400); neuronsVisible = true"
      *ngIf="!neuronsVisible; else neuronsVisibleToggle"
    >
      Selected neurons
    </mozaik-multiview-toggle>
    <ng-template #neuronsVisibleToggle>
      <mozaik-multiview-toggle
        [style.right.px]="0"
        (click)="openPartition(1, 'right'); neuronsVisible = false"
      >
        Hide neurons
      </mozaik-multiview-toggle>
    </ng-template>

    <router-outlet *ngIf="!(modelLoading$ | async)"></router-outlet>
  </mozaik-multiview-partition>

  <mozaik-multiview-partition (visible)="neuronsVisible = $event">
    <mozaik-selected-neurons></mozaik-selected-neurons>
  </mozaik-multiview-partition>
</mozaik-multiview>

<mozaik-model-loading
  [progress]="modelLoading$ | async"
  *ngIf="modelLoading$ | async"
></mozaik-model-loading>
<mozaik-loading-overlay
  @fade
  *ngIf="showLoadingOverlay$ | async"
></mozaik-loading-overlay>
<button
  (click)="openNetwork()"
  class="open-network"
  *ngIf="showNetworkButton$ | async"
>
  <fa-icon [icon]="faSatelliteDish"></fa-icon>
</button>
<mozaik-overlay
  @fade
  *ngIf="(overlay$ | async).open"
  [style.opacity]="(overlay$ | async).opacity"
  [style.zIndex]="(overlay$ | async).zIndex"
></mozaik-overlay>
