mozaik-multiview {
  width: 100%;
  height: calc(100vh - 50px);
  overflow: hidden;
}
mozaik-header {
  position: relative;
  z-index: var(--z-header);
}
mozaik-loading-overlay {
  z-index: var(--z-loading);
}

.open-network {
  z-index: var(--z-net-button);
  position: fixed;
  bottom: 70px;
  right: 70px;
  border-radius: 50%;
  font-size: 32px;
  cursor: pointer;
  border: none;
  box-shadow: 0 0 3px #00000078;
  padding: 10px 13px;
  background-color: white;
  transition: 0.1s;

  &:hover {
    box-shadow: 0 0 5px #00000078;
  }
}

mozaik-model-loading,
mozaik-ads-loading {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  max-height: calc(100vh - 120px);
  overflow-y: auto;
}
