<mozaik-header></mozaik-header>
<mozaik-features></mozaik-features>
<main>
  <router-outlet></router-outlet>
</main>
<mozaik-loading-overlay
  @fade
  *ngIf="showLoadingOverlay$ | async"
></mozaik-loading-overlay>
<button
  (click)="openNetwork()"
  class="open-network"
  *ngIf="showNetworkButton$ | async"
>
  <fa-icon [icon]="faSatelliteDish"></fa-icon>
</button>
<mozaik-overlay
  @fade
  *ngIf="(overlay$ | async).open"
  [style.opacity]="(overlay$ | async).opacity"
  [style.zIndex]="(overlay$ | async).zIndex"
></mozaik-overlay>
