<mozaik-header></mozaik-header>
<mozaik-multiview [ratios]="[20, 72, 8]">
  <mozaik-multiview-partition>
    <mozaik-ds-select></mozaik-ds-select>
  </mozaik-multiview-partition>
  <mozaik-multiview-partition>
    <router-outlet *ngIf="!(modelLoading$ | async)"></router-outlet>
    <mozaik-model-loading
      *ngIf="modelLoading$ | async"
      [progress]="modelLoading$ | async"
    ></mozaik-model-loading>
  </mozaik-multiview-partition>
  <mozaik-multiview-partition>
    <mozaik-selected-neurons></mozaik-selected-neurons>
  </mozaik-multiview-partition>
</mozaik-multiview>
<mozaik-loading-overlay
  @fade
  *ngIf="showLoadingOverlay$ | async"
></mozaik-loading-overlay>
<button
  (click)="openNetwork()"
  class="open-network"
  *ngIf="showNetworkButton$ | async"
>
  <fa-icon [icon]="faSatelliteDish"></fa-icon>
</button>
<mozaik-overlay
  @fade
  *ngIf="(overlay$ | async).open"
  [style.opacity]="(overlay$ | async).opacity"
  [style.zIndex]="(overlay$ | async).zIndex"
></mozaik-overlay>
