:host {
  display: block;
}

p {
  text-align: center;
}

mozaik-select,
mozaik-input {
  display: block;
  width: 250px;
  margin: 0 auto 20px;
}

.options {
  display: flex;
}
.flex-container {
  display: flex;
  margin: auto;
  flex-direction: column;
  align-items: flex-start;
  min-width: 0;
}
mozaik-checkbox {
  margin: 4px 0;
  min-width: 0;
}
