:host {
  display: block;
  font-size: 0.8em;
}

.spread {
  display: flex;
  align-items: center;
  justify-content: space-between;

  input[type="range"] {
    flex-basis: 70%;
  }
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;

  input[type="number"] {
    width: 76px;
    margin-left: 10px;
  }
}
