<div class="spread">
  <span class="min" [title]="min">{{ min | scientific }}</span>
  <input
    type="range"
    [formControl]="control"
    (input)="onChange(value)"
    (blur)="onTouched()"
    [min]="min"
    [max]="max"
    [value]="value"
    [step]="step"
  />
  <span class="max" [title]="max">{{ max | scientific }}</span>
</div>
<div class="center">
  value:
  <input
    type="number"
    #textRepr
    [min]="min"
    [max]="max"
    [step]="step"
    [value]="value"
    (input)="writeValue(+textRepr.value); onChange(value)"
  />
</div>
