:host {
  display: block;
}

p {
  text-align: center;
}

.row {
  display: flex;
  align-items: baseline;
  justify-content: center;
  margin-bottom: 20px;

  mozaik-select {
    width: 100px;
    margin: 0 10px 0;
  }
}

mozaik-input,
mozaik-select {
  display: block;
  width: 250px;
  margin: 0 auto 20px;
}
