<h1>Filter values</h1>

<div class="columns">
  <ng-container
    *ngIf="
      type == ColType.object &&
        distinctValues?.length == 1 &&
        (distinctValues[0] === null || distinctValues[0] === undefined);
      else canBeFiltered
    "
  >
    <div class="empty">Nothing to filter</div>
  </ng-container>
  <ng-template #canBeFiltered>
    <div class="property" *ngIf="type == ColType.keyvalue">
      <mozaik-property-bag
        [formControl]="propControl"
        [bag]="union"
      ></mozaik-property-bag>
    </div>
    <mozaik-filter-switch
      [control]="control"
      [key]="key"
      [path]="propToPath | purefn : propControl.value"
      [type]="propType ?? type"
      [distinctValues]="distinctPropVals ?? distinctValues"
    ></mozaik-filter-switch>
  </ng-template>
</div>

<div class="actions">
  <button (click)="close.emit()">Cancel</button>
  <mozaik-button (click)="value.emit(control.value)" [disabled]="!control.valid"
    >Apply</mozaik-button
  >
</div>
