<h1>Selected neurons</h1>
<mozaik-collapsible
  class="node"
  *ngFor="let node of nodeData; trackBy: trackById; index as i"
>
  <h2
    slot="header"
    class="node-anchor"
    [class.hovered]="(hoveredNode$ | async)?.id === node.node.id"
    (mouseenter)="hoverNode(node.node)"
    (mouseleave)="hoverNode(null)"
    (click)="$event.shiftKey ? handleSelect($event, node.node) : null"
  >
    Neuron #{{ node.node.id }}
  </h2>
  <mozaik-collapsible class="positions">
    <h3 slot="header">Positions</h3>
    <table>
      <tbody>
        <tr *ngFor="let sheet of node.node.sheets | keyvalue">
          <td>{{ sheet.key }}</td>
          <td>
            [{{ sheet.value.x | number : "1.0-4" }},
            {{ sheet.value.y | number : "1.0-4" }}]
          </td>
        </tr>
      </tbody>
    </table>
  </mozaik-collapsible>
  <mozaik-collapsible class="outgoing">
    <h3 slot="header">
      Outgoing ({{ sumSheets | purefn : node.node.sheets }})
    </h3>
    <ng-container *ngFor="let sheet of node.node.sheets | keyvalue">
      <mozaik-collapsible class="sheet" *ngIf="sheet.value.connections.length">
        <h4 slot="header">
          {{ sheet.key }} ({{ sheet.value.connections.length }})
        </h4>
        <table>
          <thead>
            <tr>
              <th>To</th>
              <th>Weight</th>
              <th>Delay</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let tgt of sheet.value.connections">
              <td>
                <span
                  class="node-anchor"
                  [class.hovered]="(hoveredNode$ | async)?.id === tgt.node"
                  (mouseenter)="hoverNode(tgt.node)"
                  (mouseleave)="hoverNode(null)"
                  (click)="handleSelect($event, tgt.node)"
                  >#{{ tgt.node }}</span
                >
              </td>
              <td>{{ tgt.weight | number : "1.0-4" }}</td>
              <td>{{ tgt.delay | number : "1.0-4" }}</td>
            </tr>
          </tbody>
        </table>
      </mozaik-collapsible>
    </ng-container>
  </mozaik-collapsible>
  <mozaik-collapsible
    class="incoming"
    (openChange)="loadIncomingConnections(i)"
  >
    <h3 slot="header">Incoming ({{ sumSheets | purefn : node.in }})</h3>
    <ng-container *ngFor="let sheet of node.in || {} | keyvalue">
      <mozaik-collapsible class="sheet" *ngIf="sheet.value.length">
        <h4 slot="header">{{ sheet.key }} ({{ sheet.value.length }})</h4>
        <table>
          <thead>
            <tr>
              <th>From</th>
              <th>Weight</th>
              <th>Delay</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let tgt of sheet.value">
              <td>
                <span
                  class="node-anchor"
                  [class.hovered]="(hoveredNode$ | async)?.id === tgt.from"
                  (mouseenter)="hoverNode(tgt.from)"
                  (mouseleave)="hoverNode(null)"
                  (click)="handleSelect($event, tgt.from)"
                  >#{{ tgt.from }}</span
                >
              </td>
              <td>{{ tgt.weight | number : "1.0-4" }}</td>
              <td>{{ tgt.delay | number : "1.0-4" }}</td>
            </tr>
          </tbody>
        </table>
      </mozaik-collapsible>
    </ng-container>
  </mozaik-collapsible>
</mozaik-collapsible>
