:host {
  display: flex;
  margin-bottom: 10px;

  .editor-container {
    background-color: white;
    box-shadow: 0 0 2px #00000078;
    flex-grow: 1;
    max-width: calc(100% - 88px);
  }

  .buttons {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    align-self: flex-end;
    margin-left: 10px;
    flex-shrink: 0;

    mozaik-button {
      margin-top: 5px;
    }
  }
}
