<mozaik-ds-info [index]="ads.index"></mozaik-ds-info>
<ng-template #controls>
  <form [formGroup]="optionsForm">
    <p class="label" *ngIf="optionsForm.value.visualization == 'histogram'">
      Approximate bins
      <mozaik-range
        formControlName="thresholds"
        [min]="1"
        [max]="100"
        [step]="1"
      ></mozaik-range>
    </p>
    <p class="label" *ngIf="optionsForm.value.visualization == 'scatterplot'">
      Displayed edges
      <mozaik-button-radio
        [options]="edges"
        formControlName="edges"
      ></mozaik-button-radio>
    </p>
    <p
      class="label"
      formGroupName="visibility"
      *ngIf="optionsForm.value.visualization == 'scatterplot'"
    >
      <mozaik-checkbox formControlName="showArrows"
        >Show arrows</mozaik-checkbox
      >
      <mozaik-checkbox formControlName="highTransparency"
        >High transparency</mozaik-checkbox
      >
    </p>
    <p class="label" *ngIf="pnvData$ | async">
      Visualization type
      <mozaik-button-radio
        [options]="visualizations"
        formControlName="visualization"
      ></mozaik-button-radio>
    </p>
    <p class="label pnv" formGroupName="pnv" *ngIf="pnvData$ | async">
      Filter PerNeuronValue
      <label
        ><span class="text">From</span>
        <mozaik-range
          formControlName="min"
          [min]="roundFloat | purefn : (pnvExtent$ | async)?.min : 'down'"
          [max]="roundFloat | purefn : (pnvExtent$ | async)?.max : 'up'"
        ></mozaik-range>
      </label>
      <label
        ><span class="text">To</span>
        <mozaik-range
          formControlName="max"
          [min]="roundFloat | purefn : (pnvExtent$ | async)?.min : 'down'"
          [max]="roundFloat | purefn : (pnvExtent$ | async)?.max : 'up'"
        ></mozaik-range>
      </label>
    </p>
  </form>
</ng-template>

<ng-container *ngIf="!(sharedControls$ | async)">
  <ng-container *ngTemplateOutlet="controls"></ng-container>
</ng-container>

<ng-container
  *ngIf="optionsForm.value.visualization == 'scatterplot'; else histogram"
>
  <mozaik-scale
    *ngIf="fullAds$ | async"
    [extent]="pnvFilter$ | async"
    [period]="(fullAds$ | async)?.period"
    [unit]="(fullAds$ | async)?.unit"
  ></mozaik-scale>
  <mozaik-pnv-network-graph
    [showArrows]="optionsForm.value.visibility.showArrows"
    [highTransparency]="optionsForm.value.visibility.highTransparency"
    [sheetName]="ads.sheet"
    [pnv]="pnvData$ | async"
    [pnvFilter]="pnvFilter$ | async"
    [nodes]="(model$ | async)?.sheetNodes[ads.sheet]"
    [edgeDir]="optionsForm.value.edges"
    [allNodes]="(model$ | async)?.nodes"
  ></mozaik-pnv-network-graph>
</ng-container>
<ng-template #histogram>
  <mozaik-histogram
    [data]="histogramData$ | async"
    [extent]="pnvFilter$ | async"
    [thresholds]="thresholds$ | async"
  ></mozaik-histogram>
</ng-template>
