<mozaik-ds-info [ds]="ads"></mozaik-ds-info>
<form [formGroup]="optionsForm">
  <p class="label">
    Displayed edges
    <mozaik-button-radio
      [options]="edges"
      formControlName="edges"
    ></mozaik-button-radio>
  </p>
  <p class="label pnv" formGroupName="pnv" *ngIf="fullAds$ | async">
    Filter PerNeuronValue
    <label
      ><span class="text">From</span>
      <mozaik-range
        formControlName="from"
        [min]="(pnvRange$ | async)?.min"
        [max]="(pnvRange$ | async)?.max"
      ></mozaik-range>
    </label>
    <label
      ><span class="text">To</span>
      <mozaik-range
        formControlName="to"
        [min]="(pnvRange$ | async)?.min"
        [max]="(pnvRange$ | async)?.max"
      ></mozaik-range>
    </label>
  </p>
</form>
<mozaik-scale
  *ngIf="fullAds$ | async"
  [extent]="pnvRange$ | async"
  [periodic]="!!(fullAds$ | async)?.period"
  [unit]="(fullAds$ | async)?.unit"
></mozaik-scale>
<mozaik-network-graph
  [sheetName]="ads.sheet"
  [pnv]="pnvData$ | async"
  [pnvExtent]="pnvRange$ | async"
  [pnvFilter]="pnvFilter$ | async"
  [nodes]="(model$ | async)?.sheetNodes[ads.sheet]"
  [edgeDir]="optionsForm.value.edges"
  [allNodes]="(model$ | async)?.nodes"
></mozaik-network-graph>
