<div
  class="filter"
  title="filter column"
  (click)="filterData()"
  *ngIf="type != ColType.link"
>
  <fa-icon [icon]="faFilter"></fa-icon>
</div>
<div class="sort" (click)="sortData()" title="sort data">
  <ng-container *ngIf="(sort$ | async)?.key == key; else unsorted">
    <fa-icon
      [icon]="faSortUp"
      *ngIf="(sort$ | async)?.asc; else sortDesc"
    ></fa-icon>
    <ng-template #sortDesc>
      <fa-icon [icon]="faSortDown"></fa-icon>
    </ng-template>
  </ng-container>
  <ng-template #unsorted>
    <fa-icon [icon]="faSort" class="unsorted"></fa-icon>
  </ng-template>

  <div class="key">{{ key }}</div>
</div>
