:host {
  overflow-x: auto;
  display: flex;
  align-items: center;
  margin: auto 0;

  fa-icon {
    margin-right: 8px;
    transition: opacity 0.1s;

    &.unsorted {
      opacity: 0.2;
    }
  }

  .sort {
    padding: 12px 5px;
    display: flex;
    align-items: center;
    cursor: pointer;

    &:hover {
      .key {
        text-decoration: underline;
      }
      .unsorted {
        opacity: 1;
      }
    }
  }

  .filter {
    padding: 12px 5px;
    cursor: pointer;

    fa-icon {
      margin-right: 0px;
    }

    &:not(:hover) fa-icon {
      opacity: 0.2;
    }
  }
}
