<ng-template #content>
  <ng-content></ng-content>
</ng-template>

<label (mousedown)="changeState()">
  <ng-container *ngIf="labelPosition == 'left'">
    <ng-container *ngTemplateOutlet="content"></ng-container>
  </ng-container>
  <div
    [tabindex]="tabindex"
    [@splash]="checkboxState"
    class="box {{ checkboxState }}"
  >
    <span class="splash"></span><span class="check"></span>
    <input
      type="checkbox"
      [formControl]="control"
      (blur)="onTouched()"
      (change)="onChange(value)"
    />
  </div>
  <ng-container *ngIf="labelPosition == 'right'">
    <ng-container *ngTemplateOutlet="content"></ng-container>
  </ng-container>
</label>
