<header [class.open]="open" (click)="open = !open">
  <fa-icon [icon]="faChevronRight" class="folder-marker"></fa-icon>
  <span class="name">{{ info.name }}</span>
</header>
<div class="content" @folder *ngIf="open">
  <mozaik-datastore
    [link]="
      ['datastore', (context && context + '/') + info.name].concat(
        urlRest$ | async
      )
    "
    *ngIf="info.datastore"
    name="."
  ></mozaik-datastore>
  <ng-container *ngFor="let item of info.content">
    <ng-container *ngIf="item.content.length; else datastore">
      <mozaik-folder
        [info]="item"
        [context]="(context && context + '/') + info.name"
      ></mozaik-folder>
    </ng-container>
    <ng-template #datastore>
      <mozaik-datastore
        [link]="
          [
            'datastore',
            (context && context + '/') + info.name + '/' + item.name
          ].concat(urlRest$ | async)
        "
        [name]="item.name"
      ></mozaik-datastore>
    </ng-template>
  </ng-container>
</div>
