<header
  [class.open]="isString(info) ? false : info.open"
  (click)="toggleFolder()"
>
  <fa-icon [icon]="faChevronRight" class="folder-marker"></fa-icon>
  <span class="name">{{ isString(info) ? info : info.name }}</span>
  <fa-icon
    *ngIf="loading"
    [icon]="faCircleNotch"
    class="loading-marker"
    [spin]="true"
  ></fa-icon>
</header>
<div class="content" @folder *ngIf="!isString(info) && info.open">
  <mozaik-datastore
    [link]="['datastore', extContext + info.name, 'model']"
    *ngIf="info.datastore"
    name="."
  ></mozaik-datastore>
  <ng-container *ngFor="let item of info.content; trackBy: trackByName">
    <ng-container
      *ngIf="
        isString(item) || item.content.length || !item.datastore;
        else datastore
      "
    >
      <mozaik-folder
        [info]="item"
        [context]="extContext + info.name"
      ></mozaik-folder>
    </ng-container>
    <ng-template #datastore>
      <mozaik-datastore
        [link]="[
          'datastore',
          extContext + info.name + '/' + cast(item).name,
          'model'
        ]"
        [name]="cast(item).name"
      ></mozaik-datastore>
    </ng-template>
  </ng-container>
</div>
