:host {
  .container {
    &:not(.contains-selection) ::ng-deep .node.pnv {
      stroke-opacity: 1;
    }

    ::ng-deep {
      .node {
        &.selected,
        &.possible {
          stroke: rgb(
            250,
            225,
            0
          ) !important; // because pnv is set using element style
        }
        &.hovered {
          stroke: lime !important; // because pnv is set using element style
        }
      }
    }
  }
}
