<h2 *ngIf="data.length">{{ header }}</h2>
<nav>
  <a
    [routerLink]="['.']"
    [relativeTo]="route$ | async"
    [routerLinkActiveOptions]="{
      matrixParams: 'ignored',
      queryParams: 'subset',
      fragment: 'ignored',
      paths: 'subset'
    }"
    [queryParams]="(labelTransform ? labelTransform(d, i) : d) | wrap: param"
    queryParamsHandling="merge"
    routerLinkActive="selected"
    *ngFor="let d of data; let i = index"
    >{{ labelTransform ? labelTransform(d, i) : d }}
    <button
      *ngIf="labelTransform"
      (click)="$event.stopPropagation(); $event.preventDefault(); showHelp(i)"
    >
      <fa-icon [icon]="faCircleQuestion"></fa-icon>
    </button>
  </a>
</nav>
