<div class="prop">
  <span class="key">Algorithm</span>
  <span class="value">{{ ds.algorithm }}</span>
</div>
<div class="prop">
  <span class="key">Identifier</span>
  <span class="value">{{ ds.identifier }}</span>
</div>
<div class="prop" *ngIf="ds.sheet">
  <span class="key">Sheet</span>
  <span class="value">{{ ds.sheet }}</span>
</div>
<div class="prop" *ngIf="ds.valueName">
  <span class="key">Value Name</span>
  <span class="value">{{ ds.valueName }}</span>
</div>
<div class="prop" *ngIf="ds.neuron">
  <span class="key">Neuron</span>
  <span class="value">{{ ds.neuron }}</span>
</div>
<div class="prop" *ngIf="ds.stimulus">
  <span class="key">Stimulus</span>
  <mozaik-property-bag [bag]="ds.stimulus"></mozaik-property-bag>
</div>

<button class="toggle" (click)="toggle()">
  <fa-icon [icon]="faChevronLeft"></fa-icon>
  <fa-icon [icon]="faChevronLeft"></fa-icon>
</button>
