<div
  class="group"
  [style.flex-basis]="relativeRatios ? ratios[i] + '%' : ratios[i] + 'px'"
  *ngFor="let col of partitions$ | async; index as i; count as size"
>
  <div class="handle" (mousedown)="startDrag($event, i)" *ngIf="i > 0"></div>

  <div class="content">
    <ng-container
      [ngTemplateOutlet]="item.content"
      *ngFor="let item of col; index as i"
    >
    </ng-container>
  </div>
</div>
<div class="group" *ngIf="!relativeRatios" style="flex-basis: 0">
  <div class="handle" (mousedown)="startDrag($event, ratios.length)"></div>
</div>
