<div class="no-results" *ngIf="!src?.length; else table">No results</div>
<ng-template #table>
  <div class="table">
    <div class="row header">
      <mozaik-multiview [(ratios)]="colSizes">
        <mozaik-multiview-partition
          *ngFor="let item of src[0] | keyvaluenosort"
        >
          <mozaik-cell-generic>
            {{ item.key }}
          </mozaik-cell-generic>
        </mozaik-multiview-partition>
      </mozaik-multiview>
    </div>
    <div class="table-body">
      <div
        class="row"
        *ngFor="let row of src"
        [style.height.px]="rowHeight"
        #rowEl
      >
        <mozaik-multiview [(ratios)]="colSizes">
          <mozaik-multiview-partition *ngFor="let item of row | keyvaluenosort">
            <ng-container
              *ngIf="item.value === null || item.value === ''; else cell"
              ><mozaik-cell-empty></mozaik-cell-empty>
            </ng-container>
            <ng-template #cell>
              <ng-container [ngSwitch]="colSchema[item.key]">
                <mozaik-cell-object *ngSwitchCase="ColType.object">{{
                  item.value | json
                }}</mozaik-cell-object>
                <ng-container *ngSwitchCase="ColType.array">
                  <mozaik-cell-empty *ngIf="item.value.length == 0; else list">
                  </mozaik-cell-empty>
                  <ng-template #list>
                    <mozaik-cell-list [values]="item.value"></mozaik-cell-list>
                  </ng-template>
                </ng-container>
                <mozaik-cell-keyvalue
                  [values]="item.value"
                  *ngSwitchCase="ColType.keyvalue"
                ></mozaik-cell-keyvalue>
                <mozaik-cell-link
                  *ngSwitchCase="ColType.link"
                ></mozaik-cell-link>
                <mozaik-cell-generic *ngSwitchDefault>{{
                  item.value
                }}</mozaik-cell-generic>
              </ng-container>
            </ng-template>
          </mozaik-multiview-partition>
        </mozaik-multiview>
      </div>
    </div>
  </div>
</ng-template>
