:host {
  display: block;
}

.settings {
  padding: 10px;
  text-align: right;
}

.table,
.no-results {
  box-shadow: 0 0 2px #00000078;
  background-color: white;
  font-size: 0.9em;
}

.no-results {
  font-style: italic;
  padding: 10px;
}

.row {
  padding: 0 10px;
  position: relative;
}
.header {
  font-weight: bold;
  color: var(--secondary-dark-text);
  background-color: var(--secondary-dark);
  position: sticky;
  top: 0;
  z-index: 1;
}

.table-body {
  .row:nth-child(even) {
    background-color: #eee;
  }
}

.pagination-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 25px 20px 15px;

  label {
    margin-right: 30px;
    font-size: 0.9em;

    mozaik-input {
      width: 50px;
      font-size: 1.1em;
    }
  }
}

.row ::ng-deep {
  mozaik-cell-generic,
  mozaik-cell-object,
  mozaik-cell-list,
  mozaik-cell-link,
  mozaik-cell-keyvalue,
  mozaik-cell-empty {
    margin: auto 0;
    overflow-y: auto;
  }
}
