<div class="settings">
  <mozaik-checkbox [formControl]="clampRowsControl"
    >Fixed height rows</mozaik-checkbox
  >
</div>
<div class="no-results" *ngIf="!src?.length; else table">No results</div>
<ng-template #table>
  <div class="table">
    <div class="row header">
      <mozaik-multiview [(ratios)]="colSizes">
        <mozaik-multiview-partition
          *ngFor="let item of colSchema | keyvaluenosort"
        >
          <mozaik-cell-header [key]="item.key"></mozaik-cell-header>
        </mozaik-multiview-partition>
      </mozaik-multiview>
    </div>
    <div class="table-body">
      <ng-container *ngFor="let row of src; index as i">
        <div
          class="row"
          [style.height.px]="clampRowsControl.value ? rowHeight : null"
          *ngIf="
            i >= (page - 1) * pageSizeControl.value &&
            i < page * pageSizeControl.value
          "
        >
          <mozaik-multiview [(ratios)]="colSizes">
            <mozaik-multiview-partition
              *ngFor="let item of colSchema | keyvaluenosort"
            >
              <ng-container *ngIf="isEmpty | purefn : row[item.key]; else cell"
                ><mozaik-cell-empty></mozaik-cell-empty>
              </ng-container>
              <ng-template #cell>
                <ng-template
                  *ngComponentOutlet="
                    cellTypes[item.value];
                    injector: getInjector | purefn : row[item.key]
                  "
                ></ng-template>
              </ng-template>
            </mozaik-multiview-partition>
          </mozaik-multiview>
        </div>
      </ng-container>
    </div>
  </div>
  <div class="pagination-container">
    <label
      >Page size
      <mozaik-input
        [formControl]="pageSizeControl"
        type="number"
      ></mozaik-input>
    </label>
    <mozaik-pagination
      [current]="page"
      [max]="ceil | purefn : src.length / pageSizeControl.value"
      (paginate)="page = $event"
    ></mozaik-pagination>
  </div>
</ng-template>
