<div
  class="name"
  *ngIf="value['name'] && !(isDiff | purefn : value); else keyval"
  (mouseenter)="showPopup()"
>
  {{ value["name"] }}
</div>
<ng-template #popupTemplate>
  <div class="arrow" [style.left.px]="popupLeft"></div>
  <div
    class="popup"
    (mouseleave)="hidePopup()"
    [style.left.px]="popupLeft"
    [style.width.px]="popupWidth"
  >
    <mozaik-property-bag [bag]="value"></mozaik-property-bag>
  </div>
  <div class="arrow" [style.left.px]="popupLeft + popupWidth"></div>
</ng-template>

<ng-template #keyval>
  <mozaik-property-bag [bag]="value"></mozaik-property-bag>
</ng-template>
