:host {
  display: block;
  padding: 0 10px;
}

h1 {
  font-size: 1em;
}

nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  a {
    padding: 8px 14px;
    display: inline-block;
    border-radius: 2px;
    box-shadow: 0 0 3px #00000078;
    text-decoration: none;
    transition: 0.1s;
    color: black;
    background-color: white;
    margin: 3px;

    &.selected {
      background-color: var(--secondary);
      color: var(--secondary-text);
    }
    &:not(.selected):hover {
      background-color: #dbdbdb;
    }
  }
}
