<h1>{{ datastore$ | async }}</h1>
<nav>
  <a
    *ngFor="let link of staticLinks"
    [routerLink]="['datastore', datastore$ | async].concat(link.value)"
    routerLinkActive="selected"
    >{{ link.label }}</a
  >
  <mozaik-ads
    *ngFor="let ads of ads$ | async; index as i"
    [data]="ads"
    [index]="i"
    [datastore]="datastore$ | async"
  ></mozaik-ads>
</nav>
<mozaik-category-list
  [data]="stimuli$ | async"
  [labelTransform]="mapIndex"
  header="Stimuli"
  param="stimulus"
></mozaik-category-list>
